<!DOCTYPE html>
<html>
  <head>
    <title>StudyRailsBlog</title>
    <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">My Ruby Blog</a></h1>
				<p>Learning Ruby on Rails</p>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><%=link_to 'Home', root_path%></li>
          <li><a href="about">About</a></li>
					<li><a href="blog">Blog</a></li>                                        
					<li><a href="contact">Contact</a></li>
					<li><a href="resources">Resources</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end #header -->